@using Microsoft.EntityFrameworkCore.Update
@model AfishaApp.Models.Afisha

<h1>Details</h1>

<h4>Score</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Afisha" asp-action="Delete" method="post" asp-route-afishaId="@Model.Id">
            <input asp-for="Category.Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly="" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" readonly="" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description"S class="form-control" readonly="" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-control">
                @Model.Image
            </div>
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" S class="form-control" readonly="" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
    Delete
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content justify-content-between" style="height: 200px; background-color: #6c7be1; border-radius: 1.3rem;  ">

            <div class="text-center text-white font-weight-bold mt-3" style="font-size: 26px">
                Удалить объект?
            </div>
            <div class="modal-footer justify-content-between" style="border-top:0px ">
                <button type="button" class="btn btn-secondary pl-5 pr-5" data-dismiss="modal">Back</button>

                <form method="post" asp-controller="Afisha" asp-action="Delete" asp-route-afishaId="@Model.Id">
                    <input class="btn btn-danger pl-5 pr-5" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-outline-success" asp-controller="Afisha" asp-action="Edit" asp-route-afishaId="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
